/HybridCLRData/AssembliesPostIl2CppStrip
/HybridCLRData/HotUpdateDlls
/HybridCLRData/LocalIl2CppData
/Test_BackUpThisFolder_ButDontShipItWithYourGame
/Library
/Logs
/obj
/.vs
/Temp
/HybridCLRData/LocalIl2CppData-WindowsEditor
/Assets/GUI PRO Kit - Casual Game/PSD
/Assets/GUI PRO Kit - Casual Game/Scenes
/HybridCLRData/StrippedAOTDllsTempProj
/BuildApp_BurstDebugInformation_DoNotShip
/AB/BuildReport
/AB/Full
/AB/Package
/AB/Packed
/AB/Working
/BuildApp
/Tools/Jenkins/UnityBuildLog.log
/Tools/LocalizationTextsScannerOutput.txt
/HybridCLRData
/.vscode
.vsconfig
/UIElementsSchema
*.csproj
*.sln
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_10_0.so
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_10_0.bundle
/Assets/Mahjong
/Xcode
/RemoteTableExport
/arrowMeadow
/.utmp
/.utmp
/.utmp
/.utmp/RelWithDebInfo
/.utmp
